/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

@layer base {
    a {
        @apply text-orange-600;
    }
    p {
        @apply my-2;
    }
    h3 {
        @apply text-lg my-3;
    }
}

.conf-details {
    position: absolute;
    left: 20%;
    top: 30%;
    width: auto;
    z-index: 6;
    color: white;
}

.conf-details .text-4xl {
    color: #e58041;
}

.conf-details-mobile {
    position: absolute;
    left: 15%;
    top: 10%;
    width: auto;
    z-index: 6;
    color: white;
}